@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
.itemListMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.itemList { 
    border: .5em solid gray;
    max-width: 300px;
    padding: .5em; 
    display: flex;
    flex-direction: column;
    margin: .25em;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 1em;
    background-color: rgb(73, 119, 187);
    border-radius: 3px;
    color: #ffffff;
    width: 60px;
}

button:hover {
    background-color: rgb(73, 119, 187);
    color: white;
}

a {
    color: white;
    background-color:rgb(73, 119, 187);
    padding: .25em;
}

.manyVariants {
    background-color: lightblue;
    padding: .25em;
    border-radius: 3px;
}

.link {
    color: rgb(73, 119, 187);
}

.itemMain {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 2fr));
    height: 100%;
    border: .5em solid gray;
    margin: 1em;
    padding: 1em;
}

.variantItem {
    border: 2px dashed black;
    padding: 1em;
}

.variantItems {
    padding-bottom: .5em;
}

img {
    border: .25em solid gray;
}

.price {
    color:rgb(73, 119, 187);
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

h1 {
    text-align: center;
    color: rgb(77, 73, 73);
}

section:last-child{
    text-align: right;
}

.itemsLink {
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px) {
    .itemMain {
        display: flex;
        flex-direction: column;
    }
}